{% extends 'base.html' %}

{% block body_block %}
 <div class="row">
        <div class="col-sm-4 offset-4">
            <h4 class="text-center alert alert-info">Update Student Information</h4>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'show_data' %}" class="btn btn-warning">Back to Home</a>

            </form>

        </div>
    </div>
{% endblock %}

